<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Detalle Receta</title>

    <link rel="stylesheet" th:href="@{/css/vistaReceta.css}">
    <link rel="stylesheet" th:href="@{/css/detalleReceta.css}">

  </head>

  <body>
  <nav>
    <div class="logo">
      <img src="https://i.postimg.cc/WzB31sKN/milanesa-logo.png" width="200px">
    </div>
    <section class="botones">
      <button type="button" class="recetas">
        Recetas
      </button>
      <button type="button" class="planificador">
        Planificador
      </button>
      <button type="button" class="listaCompras">
        Lista de compras
      </button>
      <button type="button" class="perfil">
        Perfil
      </button>
    </section>
  </nav>
  <main>
    <h1 th:text="${unaReceta.titulo}">Nombre de la Receta</h1>
    <div class="contenido">
      <div class="imagen">
        <img th:src="${unaReceta.imagen}" alt="Foto de la comida">
      </div>
      <div class="ingredientes">
        <h2>INGREDIENTES</h2>
        <ul>
          <li th:each="ingrediente : ${unaReceta.ingredientes}" th:text="${ingrediente}">Ingrediente</li>
        </ul>
      </div>
      <div class="instructiones">
        <h2>PREPARACIÓN</h2>
        <ul>
          <li th:each="paso : ${unaReceta.pasos}" th:text="${paso}"></li>
        </ul>
      </div>
    </div>
  </main>
  </body>
</html>