<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vista Receta</title>
    <link rel="stylesheet" th:href="@{/css/vistaReceta.css}">

</head>
<body>
<nav>
    <div class="logo">
        <img src="https://i.postimg.cc/WzB31sKN/milanesa-logo.png" width="200px">
    </div>
    <section class="botones">
        <button type="button" class="recetas">
            Recetas
        </button>
        <button type="button" class="planificador">
            Planificador
        </button>
        <button type="button" class="listaCompras">
            Lista de compras
        </button>
        <button type="button" class="perfil">
            Perfil
        </button>
    </section>
</nav>
<main>
    <h1>Recetas</h1>
    <section class="filtros">
        <form class="tiempo" method="post">
            <label for="time">
                Tiempo de preparación
            </label>
            <select id="time">
                <option value="-">-</option>
                <option value="media-hora">30min</option>
                <option value="una-hora">1h</option>
            </select>
        </form>
        <form class="categoria" method="post">
            <label for="categorias">
                Categoría
            </label>
            <select id="categorias">
                <option value="todos">Todos</option>
                <option value="desayuno">Desayuno/Merienda</option>
                <option value="almuerzo">Almuerzo/Cena</option>
            </select>
        </form>
    </section>
    <section class="nueva-receta" >
        <button type="button" id="btn-abrir-modal">Cargar nueva receta</button>
    </section>

    <dialog id="modal" >
        <h2>Cargar Nueva Receta</h2>

        <form action="#" th:action="@{/nueva-receta}" method="POST" enctype="multipart/form-data" th:object="${receta}">
            <label for="titulo">Título:</label>
            <input th:field="*{titulo}" type="text" id="titulo" name="titulo" required>
            <br>

            <label for="tiempo">Tiempo de Preparación:</label>
            <select th:field="*{tiempo_preparacion}" id="tiempo" name="tiempo">
                <option value="-">-</option>
                <option value="30.0">30min</option>
                <option value="60.0">1h</option>
            </select>
            <br>

            <label for="categoria">Categoría:</label>
            <select th:field="*{categoria}" id="categoria" name="categoria">
                <option value="todos">Todos</option>
                <option value="desayuno">Desayuno/Merienda</option>
                <option value="almuerzo">Almuerzo/Cena</option>
            </select>
            <br>

            <label for="ingredientes">Ingredientes:</label>
            <textarea th:field="*{ingredientes}" id="ingredientes" name="ingredientes" required></textarea>
            <br>

            <label for="descripcion">Descripción:</label>
            <textarea th:field="*{descripcion}" id="descripcion" name="descripcion" required></textarea>
            <br>

            <label for="imagen">Imagen:</label>
            <input th:field="*{imagen}" type="file" id="imagen" name="imagen" accept="image/*">
            <br>

            <button type="submit">Guardar Receta</button>
        </form>



    </dialog>
    <section class="recetas">
        <article th:each="receta : ${todasLasRecetas}">
            <a th:href="@{/detalleReceta(id=${receta.id}, titulo=${receta.titulo}, imagen=${receta.imagen}, ingredientes=${receta.ingredientes})}" class="receta1">
                <h2 class="titulo" th:text="${receta.titulo}">Nombre comida</h2>
                <p class="desc" th:text="${receta.descripcion}">Descripción</p>
                <img class="foto" th:src="${receta.imagen}" width="300px" alt="Imagen receta">
            </a>
        </article>
    </section>
</main>
<footer>
</footer>
<script th:src="@{/js/modalJS.js}"> </script>
</body>
</html>