<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vista Receta</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/vistaReceta.css}">
    <script>
        function mostrarPopup() {alert("Funcionalidad en desarrollo!");}
        function mostrarModal() {
            document.getElementById('modalReceta').style.display = 'block';
        }
        function cerrarModal() {
            document.getElementById('modalReceta').style.display = 'none';
        }
    </script>
    <style>
        /* Estilos básicos para el modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover, .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<nav>
    <div class="logo">
        <img src="https://i.postimg.cc/WzB31sKN/milanesa-logo.png" width="200px">
    </div>
    <section class="botones">
        <button type="button" class="recetas">
            <a href="http://localhost:8080/spring/vista-receta" class="link-receta">
                <i class="fas fa-utensils"></i> Recetas
            </a>
        </button>
        <button type="button" class="planificador" >
            <a href="http://localhost:8080/spring/vista-planificador" class="link-receta">
                <i class="fas fa-calendar-alt"></i> Planificador
            </a>
        </button>
        <button type="button" class="listaCompras" onclick="mostrarPopup()">
            <i class="fas fa-shopping-cart"></i> Lista de compras
        </button>
        <button type="button" class="perfil" onclick="mostrarPopup()">
            <i class="fas fa-user"></i> Perfil
        </button>
    </section>
</nav>
<main>
    <h1>Recetas</h1>
    <section class="filtros">
        <form method="post">
            <label for="time">
                Tiempo de preparación
            </label>
            <select id="time" name="tiempo" th:value="${tiempoSeleccionado}">
                <option value="-" th:selected="${tiempoSeleccionado == '-'}">-</option>
                <option value="DIEZ_MIN" th:selected="${tiempoSeleccionado == 'DIEZ_MIN'}">10min</option>
                <option value="VEINTE_MIN" th:selected="${tiempoSeleccionado == 'VEINTE_MIN'}">20min</option>
                <option value="TREINTA_MIN" th:selected="${tiempoSeleccionado == 'TREINTA_MIN'}">30min</option>
                <option value="UNA_HORA" th:selected="${tiempoSeleccionado == 'UNA_HORA'}">1h</option>
            </select>
            <label for="categorias">
                Categoría
            </label>
            <select id="categorias" name="categoria" th:value="${categoriaSeleccionada}">
                <option value="todos" th:selected="${categoriaSeleccionada == 'todos'}">Todos</option>
                <option value="DESAYUNO_MERIENDA" th:selected="${categoriaSeleccionada == 'DESAYUNO_MERIENDA'}">Desayuno/Merienda</option>
                <option value="ALMUERZO_CENA" th:selected="${categoriaSeleccionada == 'ALMUERZO_CENA'}">Almuerzo/Cena</option>
            </select>
            <button type="submit">Filtrar</button>
            <button type="button" onclick="mostrarModal()">Cargar receta</button>
        </form>
    </section>

    <div id="modalReceta" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <h2>Cargar nueva receta</h2>
            <form th:action="@{/guardarReceta}" method="post" accept-charset="UTF-8">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required><br>

                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" required></textarea><br>

                <label for="tiempoPreparacion">Tiempo de preparación:</label>
                <select id="tiempoPreparacion" name="tiempoPreparacion" required>
                    <option value="DIEZ_MIN">10min</option>
                    <option value="VEINTE_MIN">20min</option>
                    <option value="TREINTA_MIN">30min</option>
                    <option value="UNA_HORA">1h</option>
                </select><br>

                <label for="categoria">Categoría:</label>
                <select id="categoria" name="categoria" required>
                    <option value="DESAYUNO_MERIENDA">Desayuno/Merienda</option>
                    <option value="ALMUERZO_CENA">Almuerzo/Cena</option>
                </select><br>

                <label for="ingredientes">Ingredientes:</label>
                <textarea id="ingredientes" name="ingredientes" required></textarea><br>

                <label for="pasos">Instrucciones</label>
                <textarea id="pasos" name="pasos"></textarea>

                <label for="imagen">URL de la imagen:</label>
                <input type="text" id="imagen" name="imagen" required><br>

                <button type="submit">Aceptar</button>
            </form>
        </div>
    </div>

    <section class="buscar-por-titulo">
        <form method="post" th:action="@{/buscar-receta-titulo}" class="buscar-form">
            <label for="tituloBusqueda">Buscar por título</label>
            <div class="buscar-container">
                <input type="text" id="tituloBusqueda" name="titulo" placeholder="Buscar recetas" th:value="${tituloBuscado}" class="buscar-input"/>
                <button type="submit" class="buscar-boton">Buscar</button>
            </div>
        </form>
    </section>


    <section class="mensaje-error" th:if="${mensajeError}">
        <p th:text="${mensajeError}" style="color: red; font-weight: bold;"></p>
    </section>

    <section class="recetas" th:if="${todasLasRecetas != null && !#lists.isEmpty(todasLasRecetas)}">
        <article th:each="receta : ${todasLasRecetas}">
            <a th:href="@{/detalleReceta(id=${receta.id}, titulo=${receta.titulo}, imagen=${receta.imagen}, ingredientes=${receta.ingredientes})}" class="receta">
                <h2 class="titulo" th:text="${receta.titulo}">Nombre comida</h2>
                <p class="desc" th:text="${receta.descripcion}">Descripción</p>
                <img class="foto" th:src="${receta.imagen}" alt="Imagen receta">
            </a>
        </article>
    </section>
</main>
<footer>
</footer>
</body>
</html>